input {
  background: none;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(47, 47, 158);
  padding: 0;
  outline: none;
  height: 21.6px;
}
