form {
  max-width: 400px;
  text-align: center;
  input {
    width: 200px;
    padding: 0.2rem;
    border: 2px solid rgb(113, 73, 136);
    border-radius: 5px;
  }
  button {
    background-color: rgb(240, 236, 242);
    border: none;
    cursor: pointer;
  }
}
